babel==2.18.0
colorama==0.4.6
coverage==7.13.4
customtkinter==5.2.2
darkdetect==0.8.0
iniconfig==2.3.0
mysql-connector-python==9.6.0
packaging==26.0
pillow==12.1.1
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
tkcalendar==1.6.1
